html,
body,
aside,
article,
header,
section,
nav,
ul,
li,
a,
div,
footer{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('../images/colorful_dots_on_black.jpg');
    background-color: #000;
    background-repeat: repeat;
    font-size: 16px;
    font-color: #000;
    font-family: Tahoma, sans-serif;
    margin: 0 auto;
    width: 1100px;
}

body > header{
    width: 360px;
    background-color: #008000;
    color: #ffff00;
    font-size: 2.6em;
    font-weight: bold;
    text-align: center;
    position: relative;
    padding: 5px 15px 25px 15px;
    margin: 0 auto;
}

body > header:before{
    content: '';
    background-color: #ff0000;
    position: absolute;
    left: -390px;
    top: 0;
    width: 390px;
    height: 81px;
}

body > header:after{
    content: '';
    background-color: #0000ff;
    position: absolute;
    left: 390px;
    top: 0;
    width: 390px;
    height: 81px;
}

aside{
    background: rgba(255, 255, 255, 0.9);
    display: inline-block;
    border-radius: 20px;
    padding: 15px 0 25px 15px;
    margin-left: -30px;
    margin-top: 30px;
    width: 220px;
}

aside nav header{
    font-size: 1.7em;
    text-decoration: underline;
}

ul{
    margin-top: 10px;
    margin-left: 10px;
    list-style-image: url('../images/bullet-new.png');
    list-style-position: inside;
}
ul li{
    margin-top: 5px;
}
ul li a{
    color: #000;
    text-decoration: none;
    vertical-align: top;
}

section{
    float: right;
    clear: right;
    margin-top: 30px;
    margin-left: 10px;
}
section article{
    background: rgba(255, 255, 255, 0.9);
    width: 810px;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 20px;
}

section article header{
    font-size: 1.7em;
    letter-spacing: -1px;
    border-radius: 10px;
    padding: 10px;
}

section article div:first-letter{
    font-size: 4em;
    font-style: italic;
}

section article div:first-line{
    font-style: italic;
}

section article footer{
    margin-top: 5px;
}

section article footer a{
    color: #808080;
    font-style: italic;
}

#webColors{
     background-color: #ff0000;
     color: #fff;
 }

#webSafeColors{
    background-color: #ffa500;
}

#RGB{
    background-color: #ffff00;
}

#RGBA{
    background-color: #008000;
    color: #fff;
}

#\#HSLHSV{
    background-color: #0000ff;
    color: #fff;
}

/*escaped selector #\#lorem*/
section article:nth-of-type(6) header{
    background-color: #800080;
    color: #fff;
}

ul li a:visited{
    color: #808080;
}

nav ul li:nth-of-type(1):hover{
    background-color: #ff0000;
    border-radius: 7px;
    padding: 5px 5px 0 5px;
    margin-left: -5px;
    width: 180px;
}

nav ul li:nth-of-type(2):hover{
    background-color: #ffa500;
    border-radius: 7px;
    padding: 5px 5px 0 5px;
    margin-left: -5px;
    width: 180px;
}

nav ul li:nth-of-type(3):hover{
    background-color: #ffff00;
    border-radius: 7px;
    padding: 5px 5px 0 5px;
    margin-left: -5px;
    width: 180px;
}

nav ul li:nth-of-type(4):hover{
    background-color: #008000;
    border-radius: 7px;
    padding: 5px 5px 0 5px;
    margin-left: -5px;
    width: 180px;
}

nav ul li:nth-of-type(5):hover{
    background-color: #0000ff;
    border-radius: 7px;
    padding: 5px 5px 0 5px;
    margin-left: -5px;
    width: 180px;
}

nav ul li:nth-of-type(6):hover{
    background-color: #800080;
    border-radius: 7px;
    padding: 5px 5px 0 5px;
    margin-left: -5px;
    width: 180px;
}