html,
body,
fieldset,
legend,
label,
input,
div,
textarea{
    margin: 0;
    padding: 0;
}

body{
    font-family: Tahoma, sans-serif;
    font-size: 14px;
}

#container{
    background-image: url(../resources/formBackground.jpg);
    background-repeat: no-repeat;
    width: 380px;
    padding: 20px 15px 5px 15px;
    border-radius: 5px;
}

fieldset{
    border: none;
    margin-top: 5px;
}

legend{
    color: #fff;
    font-weight: bold;
}
div{
    background-color: rgba(255, 255,255, 0.3);
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 3px;
}

fieldset div:first-of-type{
    margin-top: 8px;
}

label{
    display: inline-block;
    width: 100px;
}

input, textarea{
    border: none;
    border-radius: 2px;
    padding: 5px;
    width: 190px;
}

input:hover, textarea:hover{
    background-color: lightblue;
}

input:focus, textarea:focus{
    border: 1px solid darkblue;
}

#address label{
    width: 100px;
    vertical-align: top;
}

textarea{
    height: 70px;
    overflow: auto;
}

#card p{
    margin: 5px 0 0 0;
}

#card-type{
    background-color: transparent;
    border: none;
}

#card-type input{
    height: 30px;
    width: 10px;
    cursor: pointer;
    vertical-align: middle;
}

#card-type label{
    height: 30px;
    width: 30px;
    padding-left: 40px;
    padding-right: 15px;
}



#card-type label:nth-child(2) {
    background-image: url(../resources/visa.png);
    background-repeat: no-repeat;
}

#card-type label:nth-child(4) {
    background-image: url(../resources/amex.png);
    background-repeat: no-repeat;
}

#card-type label:nth-child(6) {
    background-image: url(../resources/mastercard.png);
    background-repeat: no-repeat;
}

#submit{
    background: #04152F;
    border-color: #04152F;
    border-radius: 30px;
    color: #ffffff;
    font-weight: bold;
    height: 30px;
    width: 100px;
    margin: 15px 140px;
    padding: 0;
    outline: none;
}

#submit:hover{
    background-color: lightblue;
    color: black;
    cursor: pointer;
}